// mixins

// shape for float text
@mixin cssShape() {
    shape-outside: polygon(9% 0, 0 100%, 91% 100%, 100% 0%);
    pointer-events: auto; // fix for shape polyfill
}
@mixin cssShapeRemove() {
    shape-outside: none;
}



/*------------------------------------------------------------------

  Base Styles

-------------------------------------------------------------------*/
html, body {
    height: 100%;
}

/*
 * Font
 */
body {
    font: 14px/1.42857143 'Lato', sans-serif;
    color: $text_color;
    // color: rgba($text_color, 0.9);
    letter-spacing: 0.06em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background: $back_darken_color;
    background: rgba($back_darken_color, 0.9);
}


/*
 * Headings
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $text_color;
}

// h1 style modify
h1, .h1 {
    font-size: 5rem;
    margin-top: 6rem;
    margin-bottom: 4rem;

    // button inside header
    .btn {
        margin-top: 7px;
    }
    .btn-lg {
        margin-top: 0;
    }
}

// h2 style modify
h2, .h2 {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

// paragraph style modify
p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}


// bootstrap label change
.label {
    font-weight: normal;
}

// iframes fix
iframe {
    border:0
}

// fontawesome fix left side crop
.fa {
    transform: none;
}


/*
 * Links
 */
a {
    color: $text_color;
    text-decoration: underline;
    transition: .3s color ease;
}
a:hover,
a:focus {
    color: $main_color;
}


/*
 * Images max width
 */
img {
    max-width: 100%;
}


/*
 * Social List
 */
.social-list {
    display: block;
    margin: 1rem 0;
    
    clear: both;
    &:after,
    &:before {
        content: '';
        display: table;
        clear: both;
    }
}


/*
 * Tags
 */
.tags {
    margin: 1rem 0;
    display: block;
    clear: both;
    color: $text_mute_color;
    font-size: 1.2rem;
}


/*
 * Date
 */
.date {
    margin-top: 8px;
    color: $text_mute_color;
    font-size: 1.2rem;
}


/*
 * Meta
 */
.meta {
    display: block;
    clear: both;
    font-size: 1.2rem;
    margin: 1rem 0;

    .item {
        display: inline-block;
        margin-right: 2rem;
    }
    
    .meta-icon {
        font-size: 1.5rem;
        margin-right: 3px;
        vertical-align: text-bottom;
    }
}


/*
 * Description
 */
.description {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/*
 * Content
 */
.content-wrap {
    max-width: 1400px;
    margin: 0 auto;
    background: $back_darken_color;
    padding: 0.1px; // fix margins on blocks inside
    overflow: hidden;

    .youplay-content {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    &.full,
    &.wide {
        max-width: none;
    }
}

.youplay-section {
    margin-bottom: 6rem;
}

/*
 * Google Maps
 */
.youplay-gmaps {
    height: 450px;
    width: 100%;
}