/*------------------------------------------------------------------

  Angled Buttons

-------------------------------------------------------------------*/
// remove outlines
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    position: relative;
    background: none;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 30px;
    box-shadow: none;
    z-index: 1;
    color: $text_color;
    text-decoration: none;

    // extra small
    &.btn-xs {
        padding: 4px 15px;
    }
    // small
    &.btn-sm {
        padding: 8px 20px;
    }
    // large
    &.btn-lg {
        padding: 15px 50px;
    }

    // full width
    &.btn-full {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        border: 2px solid $text_color;
        z-index: -1;

        transform: skew(-$skew_size);
        background: none;
        transition: .3s background ease, .3s border ease;
    }
}
// in light theme hover button change text color
@if ($theme == light) {
    .btn {
        transition: .3s color ease;
    }
    .btn:hover,
    .btn.active {
        color: $back_darken_color;
    }
}
// default
.btn:hover:before,
.btn.active:before,
.open > .dropdown-toggle.btn:before {
    border: 2px solid $main_color;
    background: $main_color;
}
// primary
.btn-primary:hover:before,
.btn-primary.active:before,
.open > .dropdown-toggle.btn-primary:before {
    border: 2px solid $color_primary;
    background: $color_primary;
}
// success
.btn-success:hover:before,
.btn-success.active:before,
.open > .dropdown-toggle.btn-success:before {
    border: 2px solid $color_success;
    background: $color_success;
}
// info
.btn-info:hover:before,
.btn-info.active:before,
.open > .dropdown-toggle.btn-info:before {
    border: 2px solid $color_info;
    background: $color_info;
}
// warning
.btn-warning:hover:before,
.btn-warning.active:before,
.open > .dropdown-toggle.btn-warning:before {
    border: 2px solid $color_warning;
    background: $color_warning;
}
// danger
.btn-danger:hover:before,
.btn-danger.active:before,
.open > .dropdown-toggle.btn-danger:before {
    border: 2px solid $color_danger;
    background: $color_danger;
}

// dropdown
.dropdown-menu {
    padding: 5px 0;
    margin-top: 0;
    margin-left: -3px;
    background-color: $text_color;
    border: none;
    border-radius: 0;
    box-shadow: none;

    .dropup & {
        margin-bottom: 0;
        margin-left: 3px;
    }

    > li > a {
        padding: 10px 20px;
        text-decoration: none;
        color: $back_darken_color;

        &:focus,
        &:hover {
            color: $back_darken_color;
            background-color: darken($text_color, 5%);
        }
    }
}
.btn-group > .btn + .dropdown-toggle {
    margin-left: -12px;
}
.open > .dropdown-toggle.btn {
    background: none;
    border: none;
    box-shadow: none;
    color: $text_color;

    // in light theme hover button change text color
    @if ($theme == light) {
        color: $back_darken_color;
    }
}

// disabled
.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
    background-color: transparent;
    border-color: transparent;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: 0.3;
}


/*------------------------------------------------------------------

  Angled Pagination

-------------------------------------------------------------------*/
.pagination {
    display: block;
    margin: 4rem 0;

    // clearfix
    clear: both;
    &:after,
    &:before {
        content: '';
        display: block;
        clear: both;
    }

    // remove default outline
    > .active > a,
    > .active > a:focus,
    > .active > a:hover,
    > .active > span,
    > .active > span:focus,
    > .active > span:hover {
        border: none;
    }

    > li > a,
    > li > span {
        cursor: pointer;
    }

    // new style
    > li:first-child > a,
    > li > a,
    > li > a:hover,
    > li > a:focus,
    > li:first-child > span,
    > li > span,
    > li > span:hover,
    > li > span:focus {
        position: relative;
        background: none;
        border: none;
        margin-left: -2px;
        padding: 10px 30px;
        box-shadow: none;
        z-index: 1;
        color: $text_color;
        text-decoration: none;

        // in light theme hover button change text color
        @if ($theme == light) {
            transition: .3s color ease;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            border: 2px solid $text_color;
            z-index: -1;

            transform: skew(-$skew_size);
            background: none;
            transition: .3s background ease, .3s border ease;
        }
    }

    // active item
    > li.active > a,
    > li.active > a:hover,
    > li > a:hover,
    > li.active > span,
    > li.active > span:hover,
    > li > span:hover {
        background: none;

        // in light theme hover button change text color
        @if ($theme == light) {
            color: $back_darken_color;
        }

        &:before {
            border: 2px solid $main_color;
            background: $main_color;
        }
    }
}



/*------------------------------------------------------------------

  Progress Bars

-------------------------------------------------------------------*/
.progress {
    box-shadow: none;
    border-radius: 0;
    background-color: rgba($text_color, 0.1);
    transform: skew(-$skew_size);
    -webkit-backface-visibility: hidden;

    // colors
    .progress-bar {
        background-color: $main_color;
    }
    .progress-bar-primary {
        background-color: $color_primary;
    }
    .progress-bar-success {
        background-color: $color_success;
    }
    .progress-bar-info {
        background-color: $color_info;
    }
    .progress-bar-warning {
        background-color: $color_warning;
    }
    .progress-bar-danger {
        background-color: $color_danger;
    }
}



/*------------------------------------------------------------------

  Timeline

-------------------------------------------------------------------*/
.youplay-timeline {
    position: relative;

    &:after { /* clearfix */
        content: '';
        display: table;
        clear: both;
    }

    &:before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 28px;
        height: 100%;
        width: 4px;
        background: rgba($text_color, 0.1);
    }
    
    .youplay-timeline-block {
        position: relative;
        margin: 4rem 0;
        padding-left: 80px;
        clear: both;

        &:after { /* clearfix */
            content: '';
            display: table;
            clear: both;
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .youplay-timeline-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background: $main_color;
        font-size: 2rem;
        text-align: center;
        overflow: hidden;
        transform: skew(-$skew_size);
        -webkit-backface-visibility: hidden;

        > i {
            vertical-align: baseline;
            transform: skew($skew_size);
            -webkit-backface-visibility: hidden;
        }

        img {
            display: block;
            width: 100%;
            transform: skew($skew_size) scale(1.15);
            -webkit-backface-visibility: hidden;
        }
    }

    .youplay-timeline-content {
        position: relative;
        margin-left: 0;
        padding-top: 5px;
        width: 100%;

        h3 {
            margin-top: 0rem;
        }

        .youplay-timeline-date {
            display: inline-block;
            position: relative;
            float: left;
            font-size: 1rem;
            padding: 1.5em 0;
            opacity: .7;

            width: 100%;
            left: 0;
        }
        
        .youplay-timeline-block & {
            float: none;

            .youplay-timeline-date {
                left: 0;
                text-align: left;
            }
        }
    }
}



/*------------------------------------------------------------------

  Accordion

-------------------------------------------------------------------*/
.panel-group {

    .panel {
        background: none;
        border: none;
    }

    .panel-body {
        padding: 1.25rem 1.8rem;
    }

    &.panel-group .panel + .panel {
        margin-top: 1rem;
    }

    // heading
    .panel-heading {
        position: relative;
        color: $text_color;
        border: none;
        background: none;
        background-color: none;
        border-radius: none;
        padding: 0;

        // heading
        .panel-title a,
        .panel-title a:hover,
        .panel-title a:focus {
            display: block;
            padding: 1.25rem 1.8rem;
            color: $text_color;
            text-decoration: none;
        }

        + .panel-collapse > .panel-body {
            border: none;
        }

        > * {
            position: relative;
            z-index: 2;
        }
    }


    // plus minus icons
    .icon-plus,
    .icon-minus {
        font-size: 2.5rem;
        margin-top: -5px;
        float: right;
        &:after {
            display: block;
            content: '+';
            transition: .3s transform ease;
        }
    }
    .icon-minus {
        &:after {
            transform: rotate(45deg);
        }
    }


    // colors
    .panel-default > .panel-heading {
        &:after {
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background: rgba($text_color, 0.1);
            transform: skew(-$skew_size);
            z-index: 1;
        }
    }

}



/*------------------------------------------------------------------

  Tabs

-------------------------------------------------------------------*/
.nav-tabs {
    border-color: rgba($text_color, 0.1);
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    font-size: 16px;
    padding: 1.25rem 1.8rem;
    color: $text_color;
    text-decoration: none;
    border-radius: 0;
    background: none;
    border: none;
    margin-bottom: 1px;
    margin-left: 3px;
}
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a {
    &:after {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba($text_color, 0.1);
        transform: skew(-$skew_size);
        z-index: 1;
    }
}
.tab-content > .tab-pane {
    padding: 1.25rem 1.8rem;
}



/*------------------------------------------------------------------

  Features

-------------------------------------------------------------------*/
.youplay-features {
    margin-bottom: 4.5rem;

    .feature {
        position: relative;
        padding: 3rem;
        margin-bottom: 3rem;
        text-align: center;

        // icon
        i {
            font-size: 5rem;
        }

    }
}



/*------------------------------------------------------------------

  Tables

-------------------------------------------------------------------*/
.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-color: rgba($text_color, 0.1);
}
.table-hover>tbody>tr:hover,
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba($text_color, 0.1);
}



/*------------------------------------------------------------------

  Pager

-------------------------------------------------------------------*/
.pager li > a,
.pager li > span {
    position: relative;
    z-index: 1;

    &,
    &:focus,
    &:hover {
        padding: 5px 14px;
        text-decoration: none;
        background: none;
        border: none;
        border-radius: 0;
        padding: 10px 30px;
        color: $text_color;
    }
    // in light theme hover button change text color
    @if ($theme == light) {
        &:focus,
        &:hover {
            color: $back_darken_color;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        border: 2px solid $text_color;
        z-index: -1;

        transform: skew(-$skew_size);
        background: none;
        transition: .3s background ease, .3s border ease;
    }

    &:hover:before,
    &.active:before {
        border: 2px solid $main_color;
        background: $main_color;
    }
}



/*------------------------------------------------------------------

  Labels

-------------------------------------------------------------------*/
.label {
    position: relative;
    background: none;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: -1;

        transform: skew(-$skew_size);
        background: rgba($text_color, 0.1);
        // in light theme
        @if ($theme == light) {
            background: rgba($text_color, 0.4);
        }
    }

    // colors
    &-primary:before {
        background: $color_primary;
    }
    &-success:before {
        background: $color_success;
    }
    &-info:before {
        background: $color_info;
    }
    &-warning:before {
        background: $color_warning;
    }
    &-danger:before {
        background: $color_danger;
    }
}



/*------------------------------------------------------------------

  Alerts

-------------------------------------------------------------------*/
.alert {
    position: relative;
    border: none;
    border-radius: 0;
    color: inherit;
    background: none;
    border-color: none;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: -1;

        transform: skew(-$skew_size);
        background: rgba($text_color, 0.1);
    }

    // colors
    &-primary:before {
        background: $color_primary;
    }
    &-success:before {
        background: $color_success;
    }
    &-info:before {
        background: $color_info;
    }
    &-warning:before {
        background: $color_warning;
    }
    &-danger:before {
        background: $color_danger;
    }
}



/*------------------------------------------------------------------

  Modals

-------------------------------------------------------------------*/
.modal-content {
    background-color: $back_darken_color;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.modal-header,
.modal-footer {
    padding: 20px 25px;
    border-color: rgba($text_color, 0.2);
}
.modal-body {
    padding: 20px 25px;
}
.close,
.close:hover,
.close:focus {
    color: $text_color;
    text-shadow: none;
    opacity: 0.5;
}
.close:hover {
    opacity: 1;
}



/*------------------------------------------------------------------

  Tooltips

-------------------------------------------------------------------*/
.tooltip-inner {
    position: relative;
    color: $back_darken_color;
    background: none;
    padding: 8px 18px;
    border-radius: 0;

    &:before {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: -1;

        transform: skew(-$skew_size);
        background: $text_color;
    }
}
.tooltip.left .tooltip-arrow {
    right: 1px;
    border-left-color: $text_color;
}
.tooltip.top .tooltip-arrow {
    border-top-color: $text_color;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: $text_color;
}
.tooltip.right .tooltip-arrow {
    left: 1px;
    border-right-color: $text_color;
}



/*------------------------------------------------------------------

  Popovers

-------------------------------------------------------------------*/
.popover {
    font: inherit;
    background-color: $text_color;
    color: $back_darken_color;
    border: none;
    border-radius: 0;
}
.popover.left > .arrow:after {
    border-left-color: $text_color;
}
.popover.top > .arrow:after {
    border-top-color: $text_color;
}
.popover.bottom > .arrow:after {
    border-bottom-color: $text_color;
}
.popover.right > .arrow:after {
    left: 1px;
    border-right-color: $text_color;
}