/*------------------------------------------------------------------

  News List

-------------------------------------------------------------------*/
.youplay-news .news-one {
    + .news-one {
        margin-top: 4.5rem;
    }

    // on small screen add margins for thumb
    @media #{$media-sm} {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    @media #{$media-xs} {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }

    // title
    h3 {
        // margin: 0;
        a, a:hover, a:focus {
            text-decoration: none;
            color: $text_color; 
        }
    }

    // thumb image
    .angled-img {
        margin-left: 0.5rem;
        margin-right: 2.5rem;
    }
}
.youplay-news {
    margin-bottom: 4rem;
    margin-top: 6rem;
}
h2 + .youplay-news {
    margin-top: 0;
}


/*
 * News Grid Style
 */
.youplay-news.news-grid .news-one {
    margin-top: 0;
    margin-bottom: 1rem;

    // angled image
    .angled-img {
        margin-right: 0;
        margin-left: 0;
        @media #{$media-xs} {
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }

    // title
    h3 {
        margin: 1.5rem 0;
    }

    // read more btn
    .read-more {
        display: block;
        margin-top: 1.5rem;
    }

    // date block
    .date {
        display: block;
    }
}
.youplay-news.news-grid {
    margin-bottom: 6rem;
}



/*------------------------------------------------------------------

  News Post

-------------------------------------------------------------------*/
.youplay-post {
    margin-bottom: 2rem;
    margin-top: 6rem;
}
.youplay-post .news-one {
    // image or slider
    .angled-img,
    .youplay-slider {
        display: inline-block;
        width: 50%;
        max-width: 350px;
    }
    .angled-img .img {
        transform: skew(-$skew_size);
        transform-origin: 100% 50%;
    }
    .youplay-slider {
        max-width: 350px;

        &.pull-left {
            margin-right: 3rem;
        }
        &.pull-right {
            margin-left: 3rem;
        }

        .angled-img {
            width: auto;
            margin: 0;
        }
        .angled-img .img {
            transform: skew(-$skew_size) scale(0.9) translateX(-5%);
            transform-origin: 100% 30%;
        }
    }

    // thumb image
    .angled-img {
        margin-right: 5rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }

    // carousel
    .youplay-carousel .angled-img {
        margin-right: 0;
        width: 100%;
    }

    // description
    .description {
        margin-bottom: 3rem;
        margin-top: 0;
    }

    // social list
    .social-list {
        margin-top: 3rem;
    }
}



/*------------------------------------------------------------------

  News in Side Block

-------------------------------------------------------------------*/
.youplay-side-news {
    text-align: left;
    padding: 1rem 0;

    // heading
    h4 {
        margin: 0;
    }

    // date
    .date {
        margin-top: 8px;
        color: $text_mute_color;
        font-size: 1.2rem;
    }
}